<% include partials/head %>
<% include partials/header %>

  <main>
      <% if (!currentUser) { %>
        <div class='main-landing'>
          <h1>Insurance Inventory</h1>
          <h2>Damage happens when we least expect it.</h2>
          <h2>Prepare yourself to make the claim you deserve.</h2>
          <h2 id='action'>Start an inventory <span class='emphasis'>today</span>.</h2>
          <form action="/login" method="GET">
            <button type="submit">Login</button>
          </form>
          <form action="/signup" method="GET">
            <button type="submit">Sign Up</button>
          </form>
        </div>
      <% } else if (currentUser && currentUser.homes.length < 1) { %>
        <main>
          <div class="landing">
            <h1>You don't have any homes. Create one!</h1>
            <form method="post" action="/users/<%= currentUser._id %>/home">
              <div class="form-group">
                <label for="name">Name:</label>
                <input placeholder="Ex. 'Family Home'" type="text" name="name" id="name">
              </div>

              <div class="form-group">
                <label for="address">Address:</label>
                <input placeholder="address" type="text" name="address" id="address">
              </div>

              <div class="form-group">
                <label for="residents">Residents:</label>
                <input placeholder="residents" type="text" name="residents" id="residents">
              </div>

              <div class="form-group">
                <label for="description">Description:</label>
                <input placeholder="description" type="text" name="description" id="description">
              </div>

              <button type="submit">Submit</button>
            </form>
          </div>
        </main>
      <% } else if (currentUser) { %>
        <div class='main-landing'>
          <div class='homes-list'>

            <% currentUser.homes.forEach(function(home) { %>
              <div class='home'>
                <a href="/inventory/<%= home.id %>"><h2><%= home.name %></h2></a>
                <form action="/inventory/<%= home.id %>" method="GET">
                <button type="submit">View Inventory</button></form>
                <h3><span>Address:</span> <%= home.address %></h3>
                <h3><span>Residents:</span> <%= home.residents %></h3>
                <h3><span>Description:</span> <%= home.description %></h3>
                <form action="/users/<%= currentUser._id %>/home/<%= home._id %>/edit" method="GET">
                <button type="submit" style="float:left">Edit</button></form>
                <form action="/users/<%= currentUser._id %>/home/<%= home._id %>/delete" method="get">
                <button type="submit">Delete</button></form>
              </div>
            <% }); %>

            <form action="/users/<%= currentUser._id %>/home/new" method="GET">
              <button type="submit">Create New Home</button>
            </form>
          </div>
        </div>
      <% } %>
  </main>

<% include partials/footer %>

