<% include ../partials/head %>
<% include ../partials/header %>
    <main>
      <div class="landing item-edit-landing">
        <h1>Edit <%= item.name %></h1>
        <h4>Home: <a href="/inventory/<%= home.id %>"><%= home.name %></a></h4>
        <form method="post" action="/inventory/<%= home.id %>/item/<%= item.id %>?_method=PUT">
          <div class="form-group">
            <label for="name">Name:</label>
            <input placeholder="Ex. 'Living Room TV'" type="text" name="name" id="name" required>
          </div>

          <div class="form-group">
            <label for="brand">Brand:</label>
            <input placeholder="brand" type="text" name="brand" id="brand">
          </div>

          <div class="form-group">
            <label for="itemModel">Model:</label>
            <input placeholder="model" type="text" name="itemModel" id="itemModel">
          </div>

          <div class="form-group">
            <label for="serial">Serial #:</label>
            <input placeholder="serial" type="text" name="serial" id="serial">
          </div>

          <div class="form-group">
            <label for="category">Category:</label>
            <input placeholder="category" type="text" name="category" id="category" required>
          </div>

          <div class="form-group">
            <label for="purchaseDate">Purchase Date:</label>
            <input placeholder="purchase date" type="text" name="purchaseDate" id="purchaseDate">
          </div>

          <div class="form-group">
            <label for="pricePaid">Price Paid:</label>
            <input placeholder="price paid" type="text" name="pricePaid" id="pricePaid">
          </div>

          <div class="form-group">
            <label for="estimatedValue">Estimated Value:</label>
            <input placeholder="estimated value" type="text" name="estimatedValue" id="estimatedValue">
          </div>

          <div class="form-group">
            <label for="otherNotes">Other Notes:</label>
            <input placeholder="notes" type="text" name="otherNotes" id="otherNotes">
          </div>

          <div class="form-group image-upload" id="image-upload">
            <label for="picture">Image:</label>
            <input type="file" id="file-input">
            <% if (item.picture) { %>
              <img src="<%= item.picture %>" id="preview">
            <% } %>
            <p id="status">Please select a file</p>
            <input type="hidden" id="image-url" name="picture" value="">
          </div>

          <button id='new-item-submit' type="submit">Submit</button>

          <div class='timestamps'>
            <h5 class='item-show-attribute'><span>Item Added:</span> <%= item.getCreatedAt() %></h3>
            <h5 class='item-show-attribute'><span>Last Updated:</span> <%= item.getUpdatedAt() %></h3>
          </div>
        </form>
      </div>
    </main>
<% include ../partials/footer %>
