<% include partials/head %>
<% include partials/header %>
<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div>
      <h3><%= item.brand + ' ' + item.model%></h3>
      <p><b>Brand: </b><%= item.brand %></p>
      <p><b>Model: </b><%= todo.model %></p>
      <p><b>Model: </b><%= todo.model %></p>
      <p><b>Model: </b><%= todo.model %></p>
      <p><b>Model: </b><%= todo.model %></p>

      <p><b>Item added: </b><%= todo.getCreatedAt() %></p>
      <p><b>Last Updated: </b><%= todo.getUpdatedAt() %></p>
    </div>

    <a href="/todos" class="btn btn-primary">Back</a>
    <a href="/todos/<%= todo._id %>/edit" class="btn btn-danger">Edit</a>
  </main>
<% include partials/footer %>
